body {
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 3%;
    border: 2px solid black;
}

.daily-card {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-radius: 3px;
    color: lightcoral;


}